<header class="container-fluid ">
    <div class="container">
    <nav class="navbar navbar-light ">
      <div class="container-fluid">
        
          <a href="/feed">
        <img src="/img/Only.png" class="logo" alt="">
      </a>
      <div class="d-flex ">
      <a class="rounded-circle btn" href="/profile"><i class="fas fa-user-circle"></i></a>
          <a href="/logout" class=" rounded-circle btn"><i class="fas fa-sign-out-alt"></i></a>
      </div>
        
         
      </div>
     
    </nav>
    </div>
  </header>

  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
        </span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link rounded-circle active btn btn-default btn-sm " href="/profile">hi</a>
          <a href="/logout" class="nav-item nav-link btn btn-default btn-sm">Logout</a>
        </div>
      </div> -->