body {
  background-image: linear-gradient(rgba(191, 236, 255, 0.37), white);
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
html {
  overflow-y: scroll;
}

p {
  font-size: 2em;
  text-transform: uppercase;
}

span {
  display: inline-block;
}

.postImg {
  width: 20em;
}

.logo {
  min-width: 10em;
  max-width: 15em;
}

.btn,
.btn:hover,
.btn:active,
.btn:visited {
  display: block;
  background-color: #1dc7fa !important;
  border: none !important;
  padding: 5px;
  color: white;
  font-size: 1.5em;
  background-color: #1dc7fa;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  margin-left: 10px;
}

div.message {
  display: grid;
  justify-items: center;
  align-items: center;
}

ul {
  list-style: none;
  align-items: center;
  margin: 0 auto;
}

.card {
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: black;
}
